<form name="app-component" [formGroup]="appComponentForm">
    <nav class="navbar navbar-light bg-black">
        <div class="container-fluid">
            <img src="assets/OIP.jfif" height="40" width="40" alt="E-Stock applicaiton logo" loading="lazy">
            <h2> E-Stocks Application</h2>
            <div class="d-flex">
                <button class="btn btn-info" (click)="register()"> Register Company </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="listAll()"> List All Companies </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <form name="company-search-form" [formGroup]="companysearchForm" (ngSubmit)="search()">
                    <input type="text" placeholder="Company Code" required=true formControlName="companyCode"> &nbsp;
                    <button type="submit" class="btn btn-warning " > Search </button>&nbsp;&nbsp;
                </form>
            </div>
        </div>
    </nav>
</form>

<router-outlet>

</router-outlet>


<br />


