<!-- Table-->
<div align="center">
    <hr>
    <h4 class="text-danger">All Company Details</h4>
    <hr>
    <table border="1" cellpadding="10" cellspacing=20>
        <thead class="bg-warning">
            <tr>
                <th scope="col"> Company Code </th>
                <th scope="col"> Company Name </th>
                <th scope="col"> Company CEO </th>
                <th scope="col"> Company TurnOver </th>
                <th scope="col"> Company Website </th>
                <!-- <th scope="col"> Stock Exchange </th>
                <th scope="col"> Latest Stock Price</th> -->
                <th> Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-bottom" *ngFor="let companyDetails of companyDetailsList">
                <td>{{companyDetails.companyCode}}</td>
                <td>{{companyDetails.companyName}}</td>
                <td>{{companyDetails.companyOwner}}</td>
                <td>{{companyDetails.companyTurnover}}</td>
                <td>{{companyDetails.website}}</td>
                <!-- <td>{{companyDetails.stockExchangeType}}</td>
                <td>{{companyDetails.latestStockPrice}}</td> -->
                <td><button class=" btn btn-danger" (click)="delete(companyDetails.companyId)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>